<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sales_Data_Control_LINQ.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=sqlmobyus.vlan77.be;Initial Catalog=Northwind;Persist Security Info=True;User ID=csharp"
            providerName="System.Data.SqlClient" />
        <add name="Sales_Data_Control_LINQ.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=sqlmobyus.vlan77.be;Initial Catalog=Northwind;Persist Security Info=True;User ID=csharp;Password=Mobyus@2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>